/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/
    
  /* Basic styles */
  body {
    margin: 0 auto;
    max-width: 1500px;
    font-family: Helvetica;
  }

nav {
    display: flex;
    flex-direction: row;
    background-color: #540B51;
    justify-content: space-between;
    width: 100%;
}
.nav-buttons {
    display: flex;
    flex-direction: row;
    padding: 15px 15px 15px 15px;
}
.menu {
    display: none;
    }

.nav-bar img {
    height: 20px;
    padding: 15px 15px 15px 15px;
}
.button-search, .button-menu {
    background-color: #540B51;
    border: none;
}
.button-search {
    padding-right: 15px;
}
.header {
    background-color: #540B51;
    width: 100%;
}
.central-image {
    overflow: hidden;
}
.central-image img {
   height: 400px;
}
.container-header h1 {
    color: white;
    text-align: center;
    padding: 40px 15px 0 15px;
    font-size: 40px;
    margin: 0 80px 0 80px;
    
}
.container-header p {
    color: white;
    text-align: center;
    padding-top: 15px;
}
#resalted {
    color: #ECB12F;
}
.container-buttons {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 25px;
    padding-bottom: 25px;
}
.button-email, .button-google {
    height: 50px;
    width: 100%;
    margin-bottom: 15px;
    border-radius: 5px;
    color:#540B51;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
}
.button-google img {
    height: 30px;
    border-radius: 3px;
    padding: 5px;
    background-color: white;
}
.button-google {
    background-color: #4285F4 ;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section1 {
    background-color: #F3EAE2;
    height: 200px;
}
.section1 p{
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
    padding-bottom: 20px;
    padding-top: 25px;
    margin-top: 0;
}
.container-logos {
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    flex-wrap: wrap;
    
}

#airbnb, #spotify, #uber, #nasa, #target, #newyork {
    height: 40px;
    padding-bottom: 30px;
    padding-right: 10px;
    padding-left: 10px;
}
#uber {  
    width: 90px;
}
#nasa {
    width: 60px;
}
#target {
    width: 40px;
}
#newyork {
    width: 160px; 
}
#spotify {
    width: 140px;
}
.section2 h3 {
    color: #540B51;
    text-align: center;
    margin: 40px 35px 0 35px;
    padding-bottom: 20px;
    font-size: 35px;
}
.section2 > p {
    text-align: center;
    margin: 0 30px 40px 30px;
    
}
.percentages {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-left: 0;
}
.percentages li {
    padding-bottom: 40px;
    margin: 0;
    list-style: none;
}
.percentages span {
    color: #540B51;
    font-size: 35px;
    font-weight: bold;
}
.percentages p, sup {
    font-size: 15px;
}
.section3 {
    background-color: #540B51;
}
.section3 h3 {
    color: white;
    font-size: 30px;
    text-align: center;
    padding: 20px 40px 20px 40px;
}
.section3 button {
    height: 50px;
    width: 90%;
    margin-bottom: 30px;
    border: 2px solid white;
    border-radius: 5px;
    margin-left: 30px;
    margin-right: 20px;
    
}
.free-button {
    background-color: white;
    color: #540B51;
    font-weight: bold;
    font-size: 20px;
}
.sales-button {
    background-color: #540B51;
    color: white;
    font-weight: bold;
    font-size: 20px;
}
.info {
    display: flex;
    flex-direction: column;
    list-style: none;
    font-size: 15px;
}
.info li {
    margin-bottom: 20px;
}
hr {
    width: 90%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.info li img {
    width: 17px;
    height: 15px;
    margin-right: 10px;
}
.link {
    color: #2E71A6;
}
.redes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    margin: auto 30px 20px 20px;
    padding: 0;
}
.container-copy {
    text-align: center;
    margin: 10px 15px 10px 15px;
    color: #454245;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .header {
        display: flex;
        flex-direction: row;
        padding-bottom: 100px;
    }
    .container-header {
        background-image: url("../images/background-singup.png");
        background-size: cover;
    }
    .container-buttons {
        width: 70%;
        margin-left: 10px;
    }
    .nav-buttons {
        margin-right: 10px;
    }
    .menu {
        display: none;
        }
    .central-image img {
        height:300px;
        margin-top: 150px;
        margin-right: 30px;
    }
    .container-header h1, p {
        padding-right: 0px;
        padding-left: 0px;
        margin-left: 10px;
        text-align: left;
    }
    .container-header p {
        padding-right: 0px;
        padding-left: 0px;
        margin-left: 10px;
        text-align: left;
    }
    .container-header h1, p {
        width: 60%;
    }
    .container-header h1 {
        font-size: 60px;
    }
    .section1 > p {
        margin: auto;
        margin-bottom: 25px;
    }
    .section2 {
        padding-top: 50px;
        
    }
    .section2 > p {
        margin: auto;
        margin-bottom: 50px;  
    }
    .percentages {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: space-around;  
    }
    .percentages p {
        text-align: center;
        margin: auto 45px;
        font-size: large;
    }
    .section3 button {
        width: 80%;
        margin-left: 85px;
    }
    hr {
        margin-top: 50px;
        margin-bottom: 40px;
    }
    .info {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 0;
    
    }
   .redes {
        justify-content: space-between;
        margin-right: 600px;
        margin-left: 40px;
   }
    .container-copy {
        text-align: left;
        margin-left: 25px;
    }
    }

    @media (min-width: 1024px) and (max-width: 1440px) {
        .header {
            display: flex;
            flex-direction: row;
            padding-bottom: 100px;
        }
        .nav-buttons {
            margin-right: 20px;
        }
        .nav-bar {
            display: flex;
            justify-content: space-between;
        }
        .menu{
            list-style: none;
            display: flex
        }
        .menu a {
            text-decoration: none;
            color: white;
        }
        .menu li{
            display: flex;
            margin-left: 60px;
        }
        
        .container-header {
            background-image: url("../images/background-singup.png");
            background-size: cover;
        }
        .container-buttons {
            width: 70%;
            margin-left: 10px;
        }
        .button-menu {
            display: none;
            }
        .central-image img {
            height:300px;
            margin-top: 150px;
        }
        .container-header h1, p {
            padding-right: 0px;
            padding-left: 0px;
            margin-left: 10px;
            text-align: left;
        }
        .container-header p {
            padding-right: 0px;
            padding-left: 0px;
            margin-left: 10px;
            text-align: left;
        }
        .container-header h1, p {
            width: 60%;
        }
        .container-header h1 {
            font-size: 60px;
        }
        .section1 > p {
            margin: auto;
            margin-bottom: 25px;
        }
        .section2 {
            padding-top: 50px;
            
        }
        .section2 > p {
            margin: auto;
            margin-bottom: 50px;  
        }
        .percentages {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-content: space-around;  
        }
        .percentages p {
            text-align: center;
            margin: auto 45px;
            font-size: large;
        }
        .lastsection-buttons {
            display: flex;
            width: 50%;
            margin-left: 290px;
            margin-right: 200px;
        }
        hr {
            margin-top: 50px;
            margin-bottom: 40px;
        }
        .info {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            padding: 0;
        }
       .redes {
            justify-content: space-between;
            margin-right: 600px;
            margin-left: 40px;
            padding-bottom: 10px;
            padding-top: 10px;
       }
        .container-copy {
            text-align: left;
            margin-left: 40px;
        }
    }
    @media (min-width: 1440px){
        .header {
            display: flex;
            flex-direction: row;
            padding-bottom: 100px;
        }
        .nav-buttons {
            margin-right: 20px;
        }
        .nav-bar {
            display: flex;
            justify-content: space-between;
        }
        .menu{
            list-style: none;
            display: flex
        }
        .menu a {
            text-decoration: none;
            color: white;
        }
        .menu li{
            display: flex;
            margin-left: 60px;
        }
        
        .container-header {
            background-image: url("../images/background-singup.png");
            background-size: cover;
        }
        .container-buttons {
            width: 70%;
            margin-left: 10px;
            display: flex;
            flex-direction: row;
        }
        .button-email {
            margin-right: 20px;
        }
        .button-menu {
            display: none;
            }
        .central-image {
            overflow: visible;
        }
        .central-image img {
            height:300px;
            margin-top: 150px;
        }
        .container-header h1, p {
            padding-right: 0px;
            padding-left: 0px;
            margin-left: 10px;
            text-align: left;
        }
        .container-header p {
            padding-right: 0px;
            padding-left: 0px;
            margin-left: 10px;
            text-align: left;
        }
        .container-header h1, p {
            width: 60%;
        }
        .container-header h1 {
            font-size: 70px;
        }
        .section1 > p {
            margin: auto;
            margin-bottom: 25px;
        }
        .section2 {
            padding-top: 50px;
            
        }
        .section2 > p {
            margin: auto;
            margin-bottom: 50px;  
        }
        .percentages {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-content: space-around;  
        }
        .percentages p {
            text-align: center;
            margin: auto 45px;
            font-size: large;
        }
        .lastsection-buttons {
            display: flex;
            width: 50%;
            margin-left: 350px;
            margin-right: 200px;
        }
        hr {
            margin-top: 50px;
            margin-bottom: 40px;
        }
        .info {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            padding: 0;
        }
       .redes {
            justify-content: space-between;
            margin-right: 1110px;
            margin-left: 40px;
            padding-bottom: 10px;
            padding-top: 10px;
       }
        .container-copy {
            text-align: left;
            margin-left: 40px;
        }
    }
    


